<a href="https://colab.research.google.com/github/CGUEVARA03/PROGRAMACION-3/blob/main/practicas_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("Hola Mundo", "Bienvenidos a Programacion Computacional III, con Python")
print("Mi nombre es: ", "Carolina Guevara")

Hola Mundo Bienvenidos a Programacion Computacional III, con Python
Mi nombre es:  Carolina Guevara

In [3]:
nombre = "Carolina Guevara"
print("Hola ", nombre, type(nombre))

nombre = 17
print("Tu edad es: ", nombre + 2, type(nombre))

Hola  Carolina Guevara <class 'str'>
Tu edad es:  19 <class 'int'>

In [11]:
nombre = "Carolina"

print("Tu nombre es: ", nombre, "Longitud de tu Nombre: ", len(nombre), "Iniciales: ", nombre[0],nombre[7])

Tu nombre es:  Carolina Longitud de tu Nombre:  8 Iniciales:  C a

In [12]:
num1 = 5
num2 = 4.6
resp = num1 + num2
print("La suma de num1: ", num1 , " + num2: ", num2, "es igual a: ", resp)

La suma de num1:  5  + num2:  4.6 es igual a:  9.6

In [15]:
num1 = float(input("Ingrese un número entero: "))
num2 = float(input("Ingrese otro número decimal: "))
resp = num1 + num2
print("Suma", resp, type(resp))

Ingrese un número entero: 234
Ingrese otro número decimal: 346.87
Suma 580.87 <class 'float'>

In [16]:
nombre = input("Dime tu nombre: ")
print(nombre, type(nombre), len(nombre))

print(nombre[0], nombre[1], nombre[2], nombre[3], nombre[4], nombre[5], nombre[6], nombre[7])

Dime tu nombre: Carolina
Carolina <class 'str'> 8
C a r o l i n a

In [17]:
resp = 4 - 4 * 6 / 2 + 1
print(resp)

-7.0

In [18]:
gustaProgramacion = True #False
print("Te gusta programar: ", gustaProgramacion)

gustaDiseno = False
print("Te gusta diseñar: ", gustaDiseno)

Te gusta programar:  True
Te gusta diseñar:  False

In [19]:
def suma(num1, num2):
  return num1 + num2
print("La suma de 5 + 7 = ", suma(5,7))

La suma de 5 + 7 =  12

In [20]:
def suma(num1, num2):
  return num1 + num2
num1 = float(input("Dime un numero: "))
num2 = float(input("Dime otro numero: "))

print("La suma es: ", suma(num1, num2))

Dime un numero: 49
Dime otro numero: 32
La suma es:  81.0

In [21]:
suma = lambda num1,num2: num1 + num2

In [22]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
print( "La respuesta es: ", suma(num1, num2))

Num1: 23
Num2: 456
La respuesta es:  479.0

In [23]:
lista = [2,7,8,6,9]

In [24]:
cuadrado = lambda num: num**2

In [25]:
print( type(cuadrado) )

<class 'function'>

In [26]:
cubo  = lambda num: num**3

In [27]:
potencia = lambda num, n: num**n

In [28]:
print("Lista: ", lista, " al cuadrado: ", list( map(cuadrado, lista) ), " al cubo: ", list(map(cubo, lista)) )

Lista:  [2, 7, 8, 6, 9]  al cuadrado:  [4, 49, 64, 36, 81]  al cubo:  [8, 343, 512, 216, 729]

In [29]:
print( "2 al cubo es: ", potencia(4, 5) )

2 al cubo es:  1024

In [30]:
print("Lista Original: ", lista, " al cubo: ", list(map(lambda num: num**3, lista)) )

Lista Original:  [2, 7, 8, 6, 9]  al cubo:  [8, 343, 512, 216, 729]

In [31]:
fpares = lambda num: num%2==0 # %=> Modulo=> devuelve el residuo de una division 5/2 = 1=>residuo

In [32]:
fimpares = lambda num: num%2!=0

In [33]:
print("Lista original: ", lista, " solo pares: ", list(filter(fpares, lista)), " los impares: ", list(filter(fimpares, lista)) )

Lista original:  [2, 7, 8, 6, 9]  solo pares:  [2, 8, 6]  los impares:  [7, 9]

In [34]:
suma = lambda a,b: a+b

Import funtools

In [35]:
import functools
print("Lista original: ", lista, "la suma: ", functools.reduce(suma, lista), " media Aritmetica: ", functools.reduce(suma, lista)/len(lista) )

Lista original:  [2, 7, 8, 6, 9] la suma:  32  media Aritmetica:  6.4

In [36]:
c= 27

In [37]:
def convertirCaF(c):
  return c*9/5 + 32

In [38]:
print("Celsius a F: ", convertirCaF(c))

Celsius a F:  80.6

In [39]:
gradosCiudades = [27, 30, 32, 35, 40, 45]

In [40]:
print(gradosCiudades, "Respuesta: ", list(map(convertirCaF, gradosCiudades)) )

[27, 30, 32, 35, 40, 45] Respuesta:  [80.6, 86.0, 89.6, 95.0, 104.0, 113.0]

In [41]:
gradosf = [80.6, 86, 89.6, 95, 104, 113]

In [42]:
def convertirFaC(f):
  return (f-32) * 5/9

In [43]:
print(gradosf, " Respuesta: ", list(map(convertirFaC, gradosf)) )

[80.6, 86, 89.6, 95, 104, 113]  Respuesta:  [26.999999999999996, 30.0, 32.0, 35.0, 40.0, 45.0]

In [44]:
print(gradosf, " Respuesta: ", list(map(lambda f: (f-32)*5/9, gradosf)) )

[80.6, 86, 89.6, 95, 104, 113]  Respuesta:  [26.999999999999996, 30.0, 32.0, 35.0, 40.0, 45.0]

Tarea:

Hacer un algoritmo en python que convierta de grados Celsius a Kelvin y viceversa, usando funciones de usuario y lambda.

Hacer un algoritmo en python que encuentre la Nota Final de Ciclo de una Materia en Particular usando funciones de usuario y lambda.

In [45]:
edades = (2,5,12,18,65,100) #La tupl es inmutable, es decir, no podemos cambiar su valor y se declara con parenteis pero se usa con corchetes
print( edades, "La edad de bebe es la mejor: ", edades[0] )

#edades[0] = 1, es inmutable, no se puede modificar

(2, 5, 12, 18, 65, 100) La edad de bebe es la mejor:  2

In [46]:
print("Edades: ", edades, "Responsabilidades: ", tuple( filter(lambda e:e>=18, edades) ) )
print("Edades: ", edades, " Al cuadrado: ", tuple(map(lambda n:n**2, edades)) )

Edades:  (2, 5, 12, 18, 65, 100) Responsabilidades:  (18, 65, 100)
Edades:  (2, 5, 12, 18, 65, 100)  Al cuadrado:  (4, 25, 144, 324, 4225, 10000)

In [48]:
notas = [6,8,10] #Listas, son mutables, es decir, podemos cambiar sus valores y se declaran y usan con corchetes
print("Notas Originales: ", notas)

notas[0] = 9
print("Notas: ", notas)

Notas Originales:  [6, 8, 10]
Notas:  [9, 8, 10]

In [49]:
notasProgra = [
    [9,8,10], #C1
    [10,6,9], #C2
    [10,9,10] #C3
]
print(notasProgra)

[[9, 8, 10], [10, 6, 9], [10, 9, 10]]

In [50]:
print("Lab2 de C1", notasProgra[0][1] )

Lab2 de C1 8

In [52]:
notas = [
    [ #Progra III
      [9,8,[8,9]], #C1
      [10,6,9], #C2
      [10,9,10] #C3
    ], 
    [ #Estadistica
      [5,7,10], #C1
      [9,8,9],  #C2
      [10,10,10]#C3
    ],
    [ #BD
      [7,8,9],  #C1
      [9,8,7],  #C2
      [10,9,10],#C3
    ], 
    [ #Ingles
      [8,9,10], #C1
      [9,10,9], #C2
      [10,10,10]#C3
    ],
    [ #Circuito Digitales
      [5,8,7], #C1
      [8,7,9], #C2
      [9,10,9] #C3
    ]
]
import functools
print( "Lab1 de Estadistica en C1", notas[1][0][0], "NOta de Parcial C1 de Progra III: ",functools.reduce(lambda a,b: a+b, notas[0][0][2])/2 )

Lab1 de Estadistica en C1 5 NOta de Parcial C1 de Progra III:  8.5

In [53]:
#diccionarios (JSON): Se declaran con llaves pero se usan con corchetes
misNotas = {
    "Programa III":{
        "C1": {
          "Lab1":9,"Lab2":8, "Parcial":{"ParteI":8, "ParteII":9}
        },
        "C2":{
          "Lab1":10,"Lab2":6, "Parcial":9
        },
        "C3":{
          "Lab1":10,"Lab2":6, "Parcial":9
        }
    },"Estadistica":{
        "C1": {
          "Lab1":5,"Lab2":7, "Parcial":10
        },
        "C2":{
          "Lab1":9,"Lab2":8, "Parcial":9
        },
        "C3":{
          "Lab1":10,"Lab2":10, "Parcial":10
        }
    }, "BD":{
        "C1": {
          "Lab1":7,"Lab2":8, "Parcial":9
        },
        "C2":{
          "Lab1":9,"Lab2":8, "Parcial":7
        },
        "C3":{
          "Lab1":10,"Lab2":9, "Parcial":10
        }
    }, "Ingles":{
        "C1": {
          "Lab1":8,"Lab2":9, "Parcial":10
        },
        "C2":{
          "Lab1":9,"Lab2":10, "Parcial":9
        },
        "C3":{
          "Lab1":10,"Lab2":10, "Parcial":10
        }
    }, "Circuitos Digitales":{
        "C1": {
          "Lab1":5,"Lab2":8, "Parcial":7
        },
        "C2":{
          "Lab1":8,"Lab2":7, "Parcial":9
        },
        "C3":{
          "Lab1":9,"Lab2":10, "Parcial":9
        }
    }
}
print("Lab1 en C1 de Estadistica: ", misNotas["Estadistica"]["C1"]["Lab1"])
misNotas["Estadistica"]["C1"]["Lab1"] = float(input("Lab1: "))
print("Lab1 en C1 de Estadistica: ", misNotas["Estadistica"]["C1"]["Lab1"])

Lab1 en C1 de Estadistica:  5
Lab1: 8
Lab1 en C1 de Estadistica:  8.0

In [55]:
#ESTRUCTURAS DE CONTROL

edad = int(input("Dime tu edad: "))
if(edad<=2):
  print("Eres un bebe")
elif(edad<12):
  print("Eres un niño")
elif( edad<18 ):
  print("Eres un adolescente")
elif( edad<=55 ):
  print("Eres un adulto joven")
elif(edad<=65):
  print("Eres un Adulto")
elif(edad<=85):
  print("Eres un adulto mayor")
elif(edad<=130):
  print("Larga vidad...")
else:
  print("Edad incorrecto")
print("Termino")

Dime tu edad: 35
Eres un adulto joven
Termino

In [56]:
#Ciclos, while y for
#obtenga la tabla de multiplicar de x numero dada por el usuario
#while
ntabla = int(input("Tabla: "))
i=1
while(i<=10):
  print(ntabla, "X", i, "=", ntabla*i)
  i+=1

Tabla: 6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

In [57]:
ntabla = int(input("Tabla: "))
for i in range(1, 11):
  print(ntabla, "X", i, "=", ntabla*i)

Tabla: 9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

In [58]:
#hacer un programa que genera la tabla de multiplicar de x numero ingreso por el usuario
nt = int(input("Dime la tabla de multiplicar a generar: "))
i=1
while i<=10:
  print( nt,"X",i,"=", nt*i )
  i+=1

Dime la tabla de multiplicar a generar: 24
24 X 1 = 24
24 X 2 = 48
24 X 3 = 72
24 X 4 = 96
24 X 5 = 120
24 X 6 = 144
24 X 7 = 168
24 X 8 = 192
24 X 9 = 216
24 X 10 = 240

In [59]:
#hacer un programa que genera la tabla de multiplicar de x numero ingreso por el usuario
nt = int(input("Dime la tabla que deseas generar: "))
for i in range(1,11): #i<11
  print(nt,"X",i,"=", nt*i)

Dime la tabla que deseas generar: 98
98 X 1 = 98
98 X 2 = 196
98 X 3 = 294
98 X 4 = 392
98 X 5 = 490
98 X 6 = 588
98 X 7 = 686
98 X 8 = 784
98 X 9 = 882
98 X 10 = 980

In [61]:
#hacer un programa que genera la tabla de multiplicar de x numero ingreso por el usuario
s = "s"
while s=="s":
  nt = int(input("Dime una tabla: "))
  for i in range(1, 11):
    print(nt, "X",i,"=", nt*i)
  s = input("Desea continua presione la tecla s, sino cualquier otra ")

Dime una tabla: 40
40 X 1 = 40
40 X 2 = 80
40 X 3 = 120
40 X 4 = 160
40 X 5 = 200
40 X 6 = 240
40 X 7 = 280
40 X 8 = 320
40 X 9 = 360
40 X 10 = 400
Desea continua presione la tecla s, sino cualquier otra S

In [62]:
#conversores
etiquetas = [
    0,
    ["Seleccione un moneda", "1. Dolar", "2. Colon SV", "3. Quetzal", "4. Lempira", "5. Cordoba"],
    ["Selecione un almacenamiento", "1. MegaByte", "2. Bit", "3. Byte", "4. KiloByte", "5. GigaByte"]
    ,3,4,5]

valores = [0,
  [0,1, 8.75, 7.73, 24.49, 35.96],
  [0,1, 8388608, 1048576, 1024, 0.0009765625]  
]

In [63]:
def convertir(opcion, de, a, cantidad):
  return valores[opcion][a] / valores[opcion][de] * cantidad

In [64]:
print("** MENU **")
print("1. Monedas")
print("2. Almacenamiento")
opcion = int(input("Opcion: "))

print( etiquetas[opcion] )
de = int(input("DE: "))
a = int(input("A: "))
cantidad = float(input("Cantidad: "))

print( etiquetas[opcion][de], " en ", etiquetas[opcion][a], " equivale a: ", convertir(opcion, de, a, cantidad) )

** MENU **
1. Monedas
2. Almacenamiento
Opcion: 1
['Seleccione un moneda', '1. Dolar', '2. Colon SV', '3. Quetzal', '4. Lempira', '5. Cordoba']
DE: 2
A: 1
Cantidad: 2345
2. Colon SV  en  1. Dolar  equivale a:  268.0

In [66]:
#POLIMORFISMO
#el polimorfismo lo tiene el signo (objeto) +
nombre = "Carolina"
saludo = "Hola " + nombre
print(saludo)

num1 = 5
num2 = 4.6
resp = num1 + num2
mensaje = "Respuesta "+ str(resp)
print(mensaje)

Hola Carolina
Respuesta 9.6

In [67]:
!pip --version
!pip -V

pip 21.1.3 from /usr/local/lib/python3.7/dist-packages/pip (python 3.7)
pip 21.1.3 from /usr/local/lib/python3.7/dist-packages/pip (python 3.7)

In [68]:
class deducciones:
  def __init__(self, sueldo, porcentajeIsss, porcentajeAfp):
    self.sueldo = sueldo
    self.porcentajeIsss = porcentajeIsss
    self.porcentajeAfp = porcentajeAfp

  def calcularIsss(self):
    self.isss = self.sueldo*self.porcentajeIsss
    return self.isss

  def calcularAfp(self):
    self.afp = self.sueldo*self.porcentajeAfp
    return self.afp

  def sueldoNeto(self):
    self.sueldoNeto = self.sueldo - (self.calcularIsss() + self.calcularAfp() )
    return self.sueldoNeto

  def calcularIsr(self):
    tablaIsr = [
      [0.01,   472.0,   0,   0    ],
      [472.01, 895.24,  0.1, 17.67],
      [895.25, 2038.10, 0.2, 60   ],
      [2038.11, 99999 , 0.3, 288.57]
    ]
    self.isr = 0
    for tramo in tablaIsr:
      if self.sueldoNeto>=tramo[0] and self.sueldoNeto<=tramo[1]:
        isr = (self.sueldoNeto - tramo[0])*tramo[2] + tramo[3]
    return isr

In [69]:
d = deducciones(800, 0.03, 0.0625)
print( d.sueldoNeto(), d.calcularIsr() )

726.0 43.069